body {
    background-color: #000000cb;
    user-select: none;
}

h1 {
    color: rgba(138, 166, 218, 0.836);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#container {
    width: fit-content;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 6px;
    white-space: nowrap;
}

#container div {
    display: inline-block;
    vertical-align: top;

}

.grid {
    width: 25px;
    height: 25px;
    background-color: white;
}

button {
    background-color: #ffffff;
    border: none;
    color: rgba(56, 55, 55, 0.911);
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    border: 2px solid #5e5e5efb; 
    transition-duration: 0.4s;
    
  }

  button:hover {
    background-color: rgb(77, 124, 165);
    color:rgb(221, 221, 221);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button:active {
    background-color: #7675cf;
    transform: scale(0.95);
  }