body {
    background-color: #000000cb;

}

h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

#container {
    width: fit-content;
    margin: 0 auto;
}
#container div {
    display:inline-block;
    vertical-align:top;
    
}

.grid {
    width: 25px;
    height: 25px;   
    background-color: white;
}

br {
 }